{% extends "layout.html" %} {% load static %} {% block nav_bar %}
<nav class="navbar">
  <a class="nav-link active" href="#">About</a>
  <a class="nav-link" href="{% url 'resume' %}">Resume</a>
  <a class="nav-link" href="{% url 'development' %}">Development</a>
  <a class="nav-link" href="{% url 'research' %}">Research</a>
  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</nav>
{% endblock nav_bar %} {% block content %}
<section class="about">
  <h1>About Me</h1>
  <hr class="separator" />
  <p>
    I'm a passionate Web Developer and Tech Enthusiast from Nagpur, India. I
    enjoy creating modern, clean, and intuitive digital experiences. My focus is
    on building functional and visually appealing websites. I integrate AI and
    modern tools into solutions for educational and professional communities.
  </p>

  <h2>What I'm Doing</h2>
  <div class="cards">
    <div class="card">
      <h3>Web Development</h3>
      <p>
        Robust development of websites using HTML, CSS, JS and backend
        integration.
      </p>
    </div>
    <div class="card">
      <h3>Web Design</h3>
      <p>
        Modern, responsive and high-quality UI/UX design made at a professional
        level.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
